@model startup.Models.ContactModel

<main id="main" class="main">
    <div class="pagetitle">
        <h2>Chi tiết liên hệ</h2>
    </div>

    <p>
        <a class="btn btn-lg btn-warning p-2 mr-5" href="javascript:history.back()">
            <i class="bi bi-arrow-left-circle"></i>Quay lại
        </a>
    </p>

    <section class="section dashboard">
        <div class="row">
            <div class="col-12">
                <div class="card recent-sales overflow-auto">
                    <div class="card-body mt-4">
                        <div>
                            <hr />
                            <dl class="row">
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.FullName)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.FullName)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Email)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Email)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.DateSend)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.DateSend)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Message)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Message)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.Phone)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Phone)
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

